.posterTop1040 {
  width: 200px;
  height: auto;
}

.top10Component {
  height: 70vh;
  /* position: relative; */
  /* z-index: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 2px solid red; */
}

.researchClass {
  /* background: var(--Color3); */
  background: linear-gradient(
    to bottom,
    rgba(221, 0, 0, 0.3),
    rgba(221, 0, 0, 0.5),
    rgba(221, 0, 0, 0.3)
  );
}

/* PAD  */
@media (min-width: 768px) {
  .top10Component {
    height: 100vh;
  }
}
/* PC1 */

@media (min-width: 992px) {
  .definition {
  }
}
/* PC2 */

@media (min-width: 1200px) {
  .definition {
  }
}
