.top10Background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
}

.top10ContainerTopOverview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.titleCategory {
  padding: 0 40px 0 20px;
  background: linear-gradient(to right, #bf9a07d6, #d5b11f6f, rgb(0, 0, 0, 0));
  width: fit-content;
}

.top10RankingTitle {
  display: flex;
  flex-direction: row;
}
.top10Ranking {
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  padding-left: 20px;
  /* border: 2px solid orange; */
  margin: 10px 0;
}

.top10Title {
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  padding-left: 5px;
  /* border: 2px solid orange; */
  margin: 10px 0;
}

.top10Genres {
  font-size: 10px;
  padding-left: 20px;
  margin: 5px 0;
}

.top10MovieCategory {
  padding: 0 20px 0 20px;
  margin-bottom: 0;
  text-align: left;
  width: fit-content;
  background: linear-gradient(
    to right,
    rgba(221, 0, 0, 0.7),
    rgba(221, 0, 0, 0.4),
    rgb(0, 0, 0, 0.2)
  );
  font-size: 10px;
}

.posterTop10 {
  margin: 0 18px 10px 18px;
  border-radius: 8px;
  border: 2px solid hwb(0 3% 20% / 0.666);
  min-width: 100px;
  width: 27vw;
  min-height: 150px;
  height: 37vw;
  box-shadow: 1px 1px 2px black;
}

.genresSliderTop {
  padding-left: 20px;
  font-size: 10px;
  font-weight: 500;
  font-style: italic;
  border: 3px solid green;
}
.description {
  padding-left: 20px;
  padding: 5px 20px;
  text-align: justify;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background: linear-gradient(to top, var(--Color1), rgb(26 25 25 / 0%)); */
  padding: 10px 0 20px 0;
}

.buttons > button {
  width: 35%;
  height: 30px;
}

.sliderTop > button {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.showTheText {
  color: rgb(181, 17, 17);
  font-weight: bold;
  text-shadow: 1px 1px 1ps black;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite 4s both;
  animation: heartbeat 1.5s ease-in-out infinite 4s both;
}

.showTheText:active {
  color: white;
  font-weight: bold;
}

.top10Container {
  /* border: 2px solid pink; */
  background: linear-gradient(
    to top,
    var(--Color1),
    var(--Color1),
    rgba(0, 0, 0, 0.9),
    rgba(26, 25, 25, 0)
  );
}

.top10RankingPosterBloc {
  width: fit-content;
  border: 2px solid red;
  position: relative;
  display: flex;
  justify-content: right;
  z-index: 1;
}

/* PAD  */
@media (min-width: 768px) {
  .titleCategory {
    font-size: 50px;
  }
  .top10Ranking,
  .top10Title {
    font-size: 35px;
  }
  .top10Genres {
    font-size: 16px;
  }
  .top10MovieCategory,
  .description {
    font-size: 14px;
  }
  .buttons > button {
    width: 20%;
  }

  .posterTop10 {
    height: 285px;
    width: 200px;
    border: 5px solid rgba(167, 165, 165, 0.948);
    margin-bottom: 40px;
  }
}
/* PC1 */
@media (min-width: 992px) {
  .posterTop10 {
    margin-right: 10%;
    height: 385px;
    width: 275px;
    border: 7px solid silver;
    box-shadow: 7px 10px 10px black;
  }
  .top10Container{
    background: linear-gradient( to top, var(--Color1),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.3) ,rgba(0, 0, 0, 0) );
  }

  .titleCategory {
    font-size: 50px;
  }

  .top10MovieCategory{
    margin-left: 10vw;
    width: fit-content;
    padding-right: 10%;
    margin: 5px 0px 5px 10vw;
  }

  .description{
    margin: 5px 10% 5px 0;
    padding: 0;
  }

.top10RankingTitle, .titleCategory, .top10Genres, .description{
  padding-left: 10vw;
}
.top10Ranking{
  padding: 0 15px 0 0;
}

.top10Ranking,
  .top10Title {
    font-size: 40px;
    margin: 5px 0;
  }

  .buttons {
    margin: 10px 0;
  }

  .buttons > button {
    width: 12%;
  }



}
/* PC2 */

@media (min-width: 1200px) {
}
