.entrancePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.logoEntrance {
  width: 70%;
  z-index: 1;
}

.backgroundRadialEffect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(#000000, #0000006e, #000000f1);
  z-index: 0;
}
.backgroundEntrance {
  width: auto;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
  animation: fade-in 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
}

.HeartbeatAndFadeIn {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite 2.7s both,
    fade-in 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
  animation: heartbeat 1.5s ease-in-out infinite 2.7s both,
    fade-in 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
}
/* Animation Heartbeat */

/* PC */
@media screen and (min-width: 648px) {
  .logo {
    width: 50vh;
  }
}
