.entrance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.logo {
  width: 70%;
}

/* PC */
@media screen and (min-width: 648px) {
  .logo {
    width: 50vh;
  }
}
