.row {
  margin: 7vh 0px;
}

.row h2 {
  font-size: x-large;
  margin-bottom: 10px;
}

.rowPosters {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  overflow: auto hidden;
  /* border: 3px solid blue; */
  height: 100%;
  padding: 30px 20px;
  border-left: none;
  border-right: none;
  border-top: 6px solid whitesmoke;
  border-bottom: 3px solid rgba(245, 245, 245, 0.265);
}

.movie {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  font-size: 12px;
  text-align: center;
  border: 2px solid silver;
}

.posterRow {
  width: 100%;
  height: auto;
}

.rowTitle {
  padding-left: 20px;
}

.rowCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.rowMovieTitle {
  margin: 10px 0 0 0;
  font-size: 13px;
  text-align: center;
}

.top40Genres {
  width: fit-content;
  height: auto;
  color: rgba(255, 255, 255, 0.668);
  font-size: 8px;
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
}


/* PAD  */
@media (min-width: 768px) {
 .top40Genres {
  font-size: 11px;
 }
 .rowMovieTitle {
  font-size: 16px;
}

}
/* PC1 */
@media (min-width: 992px) {
}
/* PC2 */

@media (min-width: 1200px) {
}
